<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%= domain %>/css/index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
    <% if (user.avatar) {
        avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=128";
       } else {
        avatar = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404.png?v=1602412158188";
       }
       %>
        <script type="text/javascript">
            var preload = document.createElement('div');
            preload.className = "preloader";
            preload.innerHTML = '</div><div class="spinner"></div>';
            document.body.appendChild(preload);
            window.addEventListener('load', function() {
                preload.className += ' fade';
                setTimeout(function() {
                    preload.style.display = 'none';
                }, 600);
            })
        </script>
        <noscript>
<div class="no-js">
To view the page please enable javascript in your browser
</div></noscript>
        <nav class="nav" role="navigation">
            <span class="logo"><a href="/" rel="noopener" aria-label="Open home page"><span class="name"><img src="<%= domain %>/media/logo-white.png" alt="logo" style="width:60px; margin-bottom: -10px;"></span></a>
            </span>
            <link rel="icon" type="image/png" href="<%= domain %>/media/logo.png">
            <div id="mobile">
                <nav class="header__nav nav-bar">
                    <div class="toggle-menu">
                        <!-- <div class="line line1"></div> -->
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                    <ul class="nav-list">
                        <li class="nav-list-item"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-list-item"><a href="/support" class="nav-link">Support</a></li>
                        <li class="nav-list-item"><a href="/stats" class="nav-link">Stats</a></li>
                        <li class="nav-list-item"><a href="/commands" class="nav-link">Commands</a></li>

                    </ul>
                </nav>
            </div>
            <ul class="menu">
                <li><a href="/support" target="_blank" rel="noopener">Support</a></li>
                <li><a href="https://github.com/loom4k/Nya" target="_blank" rel="noopener">Github</a></li>
                <a class="avatar-container dropdownHead" id="dropdownHead" onclick="dropdown(this)"><img class="user-avatar" src="<%= avatar %>" /><span class="user-name"><%= user.username %>#<%= user.discriminator %></span></a>
            </ul>

            <ul class="dropdown" id="dropdown">
                <div class="cross-container">
                    <div class="cross"></div>
                </div>

                <span><a class="dropdown-li" href="/"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/></svg> Home</a></span>
                <span><a class="dropdown-li logout" href="/logout" class="logout"><svg width="20" height="20" viewBox="0 0 98.28 68.04"><path fill="none" d="M82.78 0h15.5v68.04h-15.5z"/><path d="M0 0h.51v68.04H0zM56 47.11V60.1H8.39V7.94H56v12.99h7.88V0H.51v68.04h63.37V47.11H56z"/><path fill="none" d="M0 0h22.97v68.04H0z"/><path d="M41.87 38.04h40.85l-9.93 9.9 5.63 5.67 19.35-19.49-19.35-19.48-5.63 5.57L82.51 30H41.87v8.04z"/></svg> Logout</a></span>
            </ul>
        </nav>
        <script>
            var toggleButton = document.querySelector('.toggle-menu');
            var navBar = document.querySelector('.nav-bar');
            toggleButton.addEventListener('click', function() {
                navBar.classList.toggle('toggle');
            });
        </script>
        <div class="blur" id="body-blur"></div>
        <div class="content">
            <h2>SELECT A SERVER</h2>
            <% if (!userExists) { %>
                <div style="width: 512px;
	 padding: 16px;
	 margin: 8px;  background-color: rgba(255, 192, 203, 0.05);">
                    <h3 style="color: rgb(255, 192, 203); 	 margin-top: 0;
	 margin-bottom: 8px;
	 font-size: 18px;
	 font-family: 'Poppins', sans-serif;">Hey
                        <%= user.username %>!
                    </h3>
                    <p style="margin: 0;
	 font-size: 14px;
	 font-family: 'Open Sans', sans-serif;
	 color: #555;">Looks like you aren't in Nya's Support Server. <a href="/support">Join Here!</a></p>
                </div>
                <% } %>
                    <div class="servers">
                        <% user.guilds.forEach(guild => {
                const permsOnGuild = new perms(guild.permissions_new);
                if(!permsOnGuild.has(perms.FLAGS.MANAGE_GUILD)) return;
            %>
                            <div class="server">
                                <div class="icon-and-name">
                                    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="server-icon"/>` : `<img src="https://cdn.discordapp.com/attachments/765919453766352916/877787616974622770/wCfHtuoejLIbAAAAABJRU5ErkJggg.png" class="server-icon"/>` %>
                                        <p class="guild-name">
                                            <%= guild.name %>
                                        </p>
                                </div>
                                <% if (bot.guilds.cache.get(guild.id)) { %>
                                    <a href='/my/<%= guild.id %>' class="edit button">Dashboard</a>
                                    <% } else { %>
                                        <a href='https://discordapp.com/oauth2/authorize?client_id=767705905235099658&amp;scope=bot&amp;guild_id=905893957685366814&amp;response_type=code&amp;redirect_uri=https%3A%2F%2Fpogy.xyz%2Fwindow&amp;permissions=490073207' class="add button">Add Bot</a>
                                        <% } %>
                            </div>
                            <% }) %>
                    </div>
                    <script src="https://pogy.xyz/js/index.js"></script>

        </div>
</body>

</html>
<script>
    function PopupCenter(e, n, t, i) {
        var o = void 0 != window.screenLeft ? window.screenLeft : screen.left,
            d = void 0 != window.screenTop ? window.screenTop : screen.top,
            c = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width,
            w = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height,
            r = c / 2 - t / 2 + o,
            h = w / 2 - i / 2 + d,
            s = window.open(e, n, "scrollbars=yes, width=" + t + ", height=" + i + ", top=" + h + ", left=" + r);
        window.focus && s.focus()
    }
</script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
</style>