<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%- include('partials/header', { user, title: "Dashboard - Nya"}) %>
</head>

<body>
        <div class="blur" id="body-blur"></div>
        <div class="content">
            <h2>SELECT A SERVER</h2>
            <% if (!userExists) { %>
                <div style="width: 512px;
	 padding: 16px;
	 margin: 8px;  background-color: rgba(255, 192, 203, 0.05);">
                    <h3 style="color: rgb(255, 192, 203); 	 margin-top: 0;
	 margin-bottom: 8px;
	 font-size: 18px;
	 font-family: 'Poppins', sans-serif;">Hey
                        <%= user.username %>!
                    </h3>
                    <p style="margin: 0;
	 font-size: 14px;
	 font-family: 'Open Sans', sans-serif;
	 color: #555;">Looks like you aren't in Nya's Support Server. <a href="/support">Join Here!</a></p>
                </div>
                <% } %>
                    <div class="servers">
                        <% user.guilds.forEach(guild => {
                const permsOnGuild = new perms(guild.permissions_new);
                if(!permsOnGuild.has(perms.FLAGS.MANAGE_GUILD)) return;
            %>
                            <div class="server">
                                <div class="icon-and-name">
                                    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="server-icon"/>` : `<img src="https://cdn.discordapp.com/attachments/765919453766352916/877787616974622770/wCfHtuoejLIbAAAAABJRU5ErkJggg.png" class="server-icon"/>` %>
                                        <p class="guild-name">
                                            <%= guild.name %>
                                        </p>
                                </div>
                                <% if (bot.guilds.cache.get(guild.id)) { %>
                                    <a href='/my/<%= guild.id %>' class="edit button">Dashboard</a>
                                    <% } else { %>
                                        <a href='https://discordapp.com/oauth2/authorize?client_id=767705905235099658&amp;scope=bot&amp;guild_id=905893957685366814&amp;response_type=code&amp;redirect_uri=https%3A%2F%2Fpogy.xyz%2Fwindow&amp;permissions=490073207' class="add button">Add Bot</a>
                                        <% } %>
                            </div>
                            <% }) %>
                    </div>
                    <script src="https://pogy.xyz/js/index.js"></script>

        </div>
</body>

</html>
<script>
    function PopupCenter(e, n, t, i) {
        var o = void 0 != window.screenLeft ? window.screenLeft : screen.left,
            d = void 0 != window.screenTop ? window.screenTop : screen.top,
            c = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width,
            w = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height,
            r = c / 2 - t / 2 + o,
            h = w / 2 - i / 2 + d,
            s = window.open(e, n, "scrollbars=yes, width=" + t + ", height=" + i + ", top=" + h + ", left=" + r);
        window.focus && s.focus()
    }
</script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
</style>